<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Edit Wlasciciel</title>
</head>
<body>

<div align="center">
    <!-- Page header -->
    <h1>Edit Wlasciciel</h1>
    <!-- End Line/ new line -->
    <br/>

    <form action="#" th:action="@{/updateW}" th:object="${wlasciciel}" method="post">
        <!-- Table -->
        <table border = "1" cellpadding="10">
            <tr>
                <td>ID_wlasciciela:</td>
                <td><input type="text" th:field="*{ID_wlasciciela}" readonly="readonly"></td>
            </tr>
            <!--Second row-->
            <tr>
                <td> Imie:</td>
                <td><input type="text" th:field="*{Imie}"></td>
            </tr>
            <!--Third row-->
            <tr>
                <td>Nazwisko:</td>
                <td><input type="text" th:field="*{Nazwisko}"></td>
            </tr>
            <tr>
                <td>Nr_konta:</td>
                <td><input type="text" th:field="*{Nazwa_firmy}"></td>
            </tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>

</div>



</body>
</html>