<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Statek</title>
</head>
<body>

<div align="center">
    <!-- Page header -->
    <h1>Enter New Statek</h1>
    <!-- End Line/ new line -->
    <br/>

    <form action="#" th:action="@{/saveS}" th:object="${statek}" method="post">
        <!-- Table -->
        <table border = "1" cellpadding="10">
            <tr>
                <td>ID_statku:</td>
                <td><input type="text" th:field="*{ID_statku}"></td>
            </tr>
            <!--Second row-->
            <tr>
                <td> Nazwa:</td>
                <td><input type="text" th:field="*{Nazwa}"></td>
            </tr>
            <!--Third row-->
            <tr>
                <td>Nosnosc:</td>
                <td><input type="text" th:field="*{Nosnosc}"></td>
            </tr>
            <tr>
                <td> Predkosc_eksploatacyjna:</td>
                <td><input type="text" th:field="*{Predkosc_eksploatacyjna}"></td>
            </tr>
            <tr>
                <td> Min_licz_zalogi:</td>
                <td><input type="text" th:field="*{Min_licz_zalogi}"></td>
            </tr>
            <tr>
                <td> Data_wodowania:</td>
                <td><input type="text" th:field="*{Data_wodowania}"></td>
            </tr>
            <tr>
                <td> ID_armatora:</td>
                <td><input type="text" th:field="*{ID_armatora}"></td>
            </tr>
            <tr>
                <td> ID_bandery:</td>
                <td><input type="text" th:field="*{ID_bandery}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>

</div>



</body>
</html>