<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Edit Klient</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">MARINE SOLUTIONS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <!-- Page header -->
    <h1>Edit Klient</h1>
    <!-- End Line/ new line -->
    <br/>

    <form action="#" th:action="@{/updateK}" th:object="${klient}" method="post">
        <!-- Table -->
        <table border = "1" cellpadding="10">
            <tr>
                <td>ID_klienta:</td>
                <td><input type="text" th:field="*{ID_klienta}"></td>
            </tr>
            <!--Second row-->
            <tr>
                <td> Imie:</td>
                <td><input type="text" th:field="*{Imie}"></td>
            </tr>
            <!--Third row-->
            <tr>
                <td>Nazwisko:</td>
                <td><input type="text" th:field="*{Nazwisko}"></td>
            </tr>
            <tr>
                <td> Data_urodzenia:</td>
                <td><input type="text" th:field="*{Data_urodzenia}"></td>
            </tr>
            <tr>
                <td> Plec:</td>
                <td><input type="text" th:field="*{Plec}"></td>
            </tr>
            <tr>
                <td> Nazwa_firmy:</td>
                <td><input type="text" th:field="*{Nazwa_firmy}"></td>
            </tr>
            <tr>
                <td> Pesel:</td>
                <td><input type="text" th:field="*{Pesel}"></td>
            </tr>
            <tr>
                <td> Email:</td>
                <td><input type="text" th:field="*{Email}"></td>
            </tr>
            <tr>
                <td> Nr_telefonu:</td>
                <td><input type="text" th:field="*{Nr_telefonu}"></td>
            </tr>
            <tr>
                <td> ID_armatora:</td>
                <td><input type="text" th:field="*{ID_armatora}"></td>
            </tr><tr>
                <td> ID_adresu:</td>
                <td><input type="text" th:field="*{ID_adresu}"></td>
            </tr>
            <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>

</div>



</body>
</html>