<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pracownicy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">OFFICIAL WEBSITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Pracownicy</h1>

    <!-- Entry to new page -->
    <a href="/newP">Enter new Pracownik</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_pracownika</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Nr_Konta</th>
            <th>Data_urodzenia</th>
            <th>Plec</th>
            <th>Pesel</th>
            <th>Email</th>
            <th>Nr_telefonu</th>
            <th>ID_adresu</th>
            <th>ID_stanowiska</th>
            <th>ID_armatora</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <<tr th:each="Pracownik : ${listPracownik}">
            <td th:text="${Pracownik.ID_pracownika}">Id_pracownika</td>
            <td th:text="${Pracownik.Imie}">Imie</td>
            <td th:text="${Pracownik.Nazwisko}">Nazwisko</td>
            <td th:text="${Pracownik.Nr_Konta}">Nr_Konta</td>
            <td th:text="${Pracownik.Data_urodzenia}">Data_urodzenia</td>
            <td th:text="${Pracownik.Plec}">Plec</td>
            <td th:text="${Pracownik.Pesel}">Pesel</td>
            <td th:text="${Pracownik.Email}">Email</td>
            <td th:text="${Pracownik.Nr_telefonu}">Nr_telefonu</td>
            <td th:text="${Pracownik.ID_adresu}">ID_adresu</td>
            <td th:text="${Pracownik.ID_stanowiska}">ID_stanowiska</td>
            <td th:text="${Pracownik.ID_armatora}">ID_armatora</td>
            <td>
                <a th:href="@{'/editP/' + ${Pracownik.ID_pracownika}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteP/' + ${Pracownik.ID_pracownika}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

