<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pracownik</title>
</head>
<body>

<div algin="center">
    <h1>Bandery</h1>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_bander</th>
            <th>Nazwa_bandery</th>
            <th>Panstwo</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Bandery : ${listBandery}">
            <td th:text="${Bandery.id}">ID_bandery</td>
            <td th:text="${Bandery.nazwa}">Nazwa_bandery</td>
            <td th:text="${Bandery.panstwo}">Panstwo</td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>

