<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pracownik</title>
</head>
<body>

<div align="center">
    <h1>Pracownicy Records</h1>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
            <tr>
                <th>id</th>
                <th>imie</th>
                <th>nazwisko</th>
            </tr>
        </thead>
        <!--Table body -->
        <tbody>
            <tr th:each="pracownik : ${listPracownik}">
                <td th:text="${pracownik.id}">id</td>
                <td th:text="${pracownik.imie}">imie</td>
                <td th:text="${pracownik.nazwisko}">nazwisko</td>
            </tr>
        </tbody>

    </table>

</div>
</body>
</html>

