<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adres</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">OFFICIAL WEBSITE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Adresy</h1>

    <!-- Entry to new page -->
    <a href="/newA">Enter new Adres</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_adresu</th>
            <th>Kraj</th>
            <th>Miasto</th>
            <th>Kod_pocztowy</th>
            <th>Ulica</th>
            <th>Nr_budynku</th>
            <th>Nr_lokalu</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Adres : ${listAdres}">
            <td th:text="${Adres.ID_adresu}">ID_adresu</td>
            <td th:text="${Adres.Kraj}">Kraj</td>
            <td th:text="${Adres.Miasto}">Miasto</td>
            <td th:text="${Adres.Kod_pocztowy}">Kod_pocztowy</td>
            <td th:text="${Adres.Ulica}">Ulica</td>
            <td th:text="${Adres.Nr_budynku}">Nr_budynku</td>
            <td th:text="${Adres.Nr_lokalu}">Nr_lokalu</td>
            <td>
                <a th:href="@{'/editA/' + ${Adres.ID_adresu}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteA/' + ${Adres.ID_adresu}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

