<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bandera</title>
</head>
<body>

<div align="center">
    <h1>Bandery</h1>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_bandery</th>
            <th>Nazwa_bandery</th>
            <th>Panstwo</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Bandera : ${listBandera}">
            <td th:text="${Bandera.ID_bandery}">ID_bandery</td>
            <td th:text="${Bandera.Nazwa_bandery}">Nazwa_bandery</td>
            <td th:text="${Bandera.Panstwo}">Panstwo</td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>

