<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adres</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">MARINE SOLUTIONS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Klienci</h1>

    <!-- Entry to new page -->
    <a href="/newK">Enter new Klienta</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_klienta</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Data_urodzenia</th>
            <th>Plec</th>
            <th>Nazwa_firmy</th>
            <th>Pesel</th>
            <th>Email</th>
            <th>Nr_telefonu</th>
            <th>ID_armatora</th>
            <th>ID_adresu</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Klient : ${listKlient}">
            <td th:text="${Klient.ID_klienta}">ID_klienta</td>
            <td th:text="${Klient.Imie}">Imie</td>
            <td th:text="${Klient.Nazwisko}">Nazwisko</td>
            <td th:text="${Klient.Data_urodzenia}">Data_urodzenia</td>
            <td th:text="${Klient.Plec}">Plec</td>
            <td th:text="${Klient.Email}">Email</td>
            <td th:text="${Klient.Nr_telefonu}">Nr_telefonu</td>
            <td th:text="${Klient.ID_armatora}">ID_armatora</td>
            <td th:text="${Klient.ID_adresu}">ID_adresu</td>
            <td>
                <a th:href="@{'/editK/' + ${Klient.ID_klienta}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteK/' + ${Klient.ID_klienta}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

