<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Armator</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">MARINE SOLUTIONS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Armatorzy</h1>

    <!-- Entry to new page -->
    <a href="/newaa">Enter new Armator</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_armatora</th>
            <th>Nazwa</th>
            <th>Data_zalozenia</th>
            <th>Nr_teleofonu</th>
            <th>ID_adresu</th>
            <th>ID_wlasciciela</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Armator : ${listArmator}">
            <td th:text="${Armator.ID_armatora}">ID_armatora</td>
            <td th:text="${Armator.Nazwa}">Nazwa</td>
            <td th:text="${Armator.Data_zalozenia}">Data_zalozenia</td>
            <td th:text="${Armator.Nr_telefonu}">Nr_telefonu</td>
            <td th:text="${Armator.ID_adresu}">ID_adresu</td>
            <td th:text="${Armator.ID_wlasciciela}">ID_wlasciciela</td>
            <td>
                <a th:href="@{'/editaa/' + ${Armator.ID_armatora}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteaa/' + ${Armator.ID_armatora}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

