<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bandera</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">MARINE SOLUTIONS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Bandery</h1>

    <!-- Entry to new page -->
    <a href="/new">Enter new bandera</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_bandery</th>
            <th>Nazwa_bandery</th>
            <th>Panstwo</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Bandera : ${listBandera}">
            <td th:text="${Bandera.ID_bandery}">ID_bandery</td>
            <td th:text="${Bandera.Nazwa_bandery}">Nazwa_bandery</td>
            <td th:text="${Bandera.Panstwo}">Panstwo</td>
            <td>
                <a th:href="@{'/edit/' + ${Bandera.ID_bandery}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${Bandera.ID_bandery}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

