<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Usluga</title>
</head>
<body>

<div align="center">
    <h1>Uslugi</h1>

    <!-- Entry to new page -->
    <a href="/newU">Enter new Usluga</a>

    <!-- Break line-->
    <br/><br/>

    <!--Table  -->
    <table border="1" cellpadding="10">

        <!-- Table header -->
        <thead>
        <tr>
            <th>ID_uslugi</th>
            <th>Rodzaj_uslugi</th>
            <th>Koszt</th>
            <th>Opis</th>
            <th>Data_rozpoczecia</th>
            <th>Data_zakonczenia</th>
            <th>ID_klienta</th>
            <th>ID_statku</th>
            <th>ID_portu_rozpoczecia</th>
            <th>ID_portu_zakonczenia</th>
            <th>ID_armatora</th>
        </tr>
        </thead>
        <!--Table body -->
        <tbody>
        <tr th:each="Usluga : ${listUsluga}">
            <td th:text="${Usluga.ID_uslugi}">ID_uslugi</td>
            <td th:text="${Usluga.Rodzaj_uslugi}">Rodzaj_uslugi</td>
            <td th:text="${Usluga.Koszt}">Koszt</td>
            <td th:text="${Usluga.Opis}">Opis</td>
            <td th:text="${Usluga.Data_rozpoczecia}">Data_rozpoczecia</td>
            <td th:text="${Usluga.Data_zakonczenia}">Data_zakonczenia</td>
            <td th:text="${Usluga.ID_klienta}">ID_klienta</td>
            <td th:text="${Usluga.ID_statku}">ID_statku</td>
            <td th:text="${Usluga.ID_portu_rozpoczecia}">ID_portu_rozpoczecia</td>
            <td th:text="${Usluga.ID_portu_zakonczenia}">ID_portu_zakonczenia</td>
            <td th:text="${Usluga.ID_armatora}">ID_armatora</td>
            <td>
                <a th:href="@{'/editU/' + ${Usluga.ID_uslugi}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteU/' + ${Usluga.ID_uslugi}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>

